body{margin:0;overflow:hidden;font-family:monospace;color:white}
.panel{position:absolute;background-color:rgba(0,0,0,0.7);padding:8px}
#titlepanel{left:0;top:0}
#fpspanel{right:0;top:0}
#temppanel{right:0;bottom:0;left:0;width:50%;margin-left:auto;margin-right:auto;}
#chat{left:0;bottom:0;width:20%}
#chatbox{margin-top:10px;background-color:rgba(0,0,0,0.6);border:1px solid black;color:white;box-sizing:border-box;width:95%;display:block}
.chatmessage{margin-left:30px;line-height: 1em;text-indent:-1.5em;padding-bottom:0px;color:#ddd;transition:opacity 0.5s}
h1{margin:0}
p{margin:4px}
